* {
    font-family: cursive;
}

img {
    margin: auto;
    display: block;
}

.main,
#center {
    text-align: center;
}

.main {
    border: 4px double black;
    background-color: lightgreen;
}

.size {
    font-size: 18px;
}